<h1>Ticket Details ✅</h1>
<button><a href="{{ path('agent_one') }}">Home page </a></button>
<br>
<h5>Title {{ ticket.ticketTitle }}</h5>
<br>
{{ ticket.date|date("m/d/Y") }}
<br>
{{ ticket.ticketStatus }}
<br>
{{ ticket.description }}
<br>
<h6>--------------------------------------------</h6>
{#to disply all the comments for this ticket from the customer or from the admin but just the public on#}

{% for comment in comments %}
    {% if comment.getCommentStatus != 1 %}
        {{ comment.date|date("m/d/Y") }}
        <br>
        {#call get user is type user to get user name realtion one to many #}
        {{ comment.getUserId().firstName }}
        {# {{ comment.getTicketId().getCustomerId().firstName }}#}
        <br>
        {{ comment.content }}
        <br>
        <h6>--------------------------------------------</h6>
        <br>
    {% endif %}
{% endfor %}

<br>

{{ form_start(commentForm) }}

    {# To display all the form childs #}

    {{ form_widget(commentForm) }}

<button> Add  </button>

{{ form_end(commentForm) }}

